{% extends 'blog/base.html' %}
{% block content %}
<div class="jumbotron">
  <h2>Please Login</h2>
  <h3>(Must be a superuser, check up with site admin)</h3>

  {% if form.errors %}
    <<h6>Your username and password didn't match! Please try again!</h6>
  {% endif %}

  <form  action="{% url 'login' %}" method="POST"> # mysite urls.py will be referred to

    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" class="btn btn-primary" value="Login">
    <input type="hidden" name="next" value="{{ next }}">
    
  </form>

</div>
{% endblock %}
